/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #fff;
    --first-color: #4070F4;
    --second-color: #0E2431;
    --color1: #687d82;
    --color2: #80959a;
    --color3: #98aeb3;
    --color4: #afc6cb;
    --color5: #c7dee3;
    --header-height: 3rem;

}
:root{
    --height--section: 900px;
}
:root {
    --font-family: 'Inter';
    --body-font: 'Poppins', sans-serif;
    --font-style: normal;
    --font-weight: 600;
    --font-size: 50px;
    --line-height: 77px;
}

.g-eazy {

    background-image: url(../assets/thye-neighbourhood.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: var(--height--section);
    background-repeat: no-repeat;

}

.home__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--primary-color);
    font-family: var(--body-font);
    height: var(--height--section);
}

.head__h1 {
    font-size: 100px;
}

.conatiner__info {
    position: relative;
    top: 1%;
    display: flex;
    flex-direction: column;
    height: var(--height--section);
    justify-content: center;
    align-items: flex-end;
}

.conatiner__info a {
    color: var(--primary-color);
    font-size: 100px;
    width: 50%;
}

/* SONGS */

.songs{
    background-image: url(../assets/bggtnbh.png);
    background-size: cover;
    /* background-position: center; */
    width: 100%; 
    height: var(--height--section);
    background-repeat: no-repeat;
}



.song__info{
    color: var(--primary-color);
    width: 80%;
    height: 400px;
    padding-top: 5%;
    padding-left: 5%;
    /* position: absolute;
    top: 10%;
    left: 5%; */
    
    

}

.song__info h1 {
    
    font-size: 70px;
    /* border: #4070F4 1px solid; */
}

.Info__artist {
    width: 35%;
    
    /* padding-left: 5%; */
    color: var(--primary-color);
}

.Info__artist{
    font-size: 20px;
}


.top__song {
    display: flex;
    width: 90%;
    justify-content: space-around;
    position: relative;
    left: 25%;
    top: 19%;
    /* overflow: hidden; */
    /* border: #4070F4 1px solid; */
}